{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
        alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta">
        <i class="fa fa-clock" aria-hidden="true"></i> 
        {% include read-time.html %}
      </p>
    {% endif %}

    {% if post.collection == 'teaching' %}
      <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
    {% elsif post.collection == 'publications' %}
      {% if post.venue != nil and post.venue != "" %}
        <p><i>{{ post.venue }}</i></p>
      {% endif %}
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify }}
      </p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
        <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink">Read more</a></strong>
      </p>
    {% endif %}

    {% assign has_citation = post.citation != nil and post.citation != "" %}
    {% assign has_paper = post.paperurl != nil and post.paperurl != "" %}
    {% assign has_slides = post.slidesurl != nil and post.slidesurl != "" %}
    {% assign has_bibtex = post.bibtexurl != nil and post.bibtexurl != "" %}

    {% if has_citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% endif %}

    {% if has_paper or has_slides or has_bibtex %}
      <p>
        {% if has_paper %}
          <a href="{{ post.paperurl }}">Download Paper</a>
        {% endif %}

        {% if has_paper and has_slides or has_paper and has_bibtex %}
          |
        {% endif %}

        {% if has_slides %}
          <a href="{{ post.slidesurl }}">Download Slides</a>
        {% endif %}

        {% if has_slides and has_bibtex %}
          |
        {% endif %}

        {% if has_bibtex %}
          <a href="{{ post.bibtexurl }}">Download Bibtex</a>
        {% endif %}
      </p>
    {% endif %}

  </article>
</div>


  </article>
</div>

