<div class="ltw-appendix">
<details>
<summary>AfD</summary>
<table>
<thead><tr><th></th><th>Vote share 2026 (%)</th><th>Change from 2021 (pp)</th></tr></thead>
<tbody>
<tr><td>Population change, 10 yrs (%)</td><td>0.79<br><span class="se">(0.59)</span></td><td>0.21<br><span class="se">(0.28)</span></td></tr>
<tr><td>Residents aged 65+ (%)</td><td>-0.14<br><span class="se">(0.44)</span></td><td>0.31<br><span class="se">(0.33)</span></td></tr>
<tr><td>Share of women (%)</td><td>-0.82<br><span class="se">(0.50)</span></td><td>-0.73*<br><span class="se">(0.30)</span></td></tr>
<tr><td>Foreign nationals (%)</td><td>-0.74<br><span class="se">(0.73)</span></td><td>-0.39<br><span class="se">(0.45)</span></td></tr>
<tr><td>Municipality size (log.)</td><td>-2.19**<br><span class="se">(0.69)</span></td><td>-0.83*<br><span class="se">(0.34)</span></td></tr>
<tr><td>Household size (persons)</td><td>-0.03<br><span class="se">(0.75)</span></td><td>0.11<br><span class="se">(0.43)</span></td></tr>
<tr><td>Unemployment (%)</td><td>1.23*<br><span class="se">(0.46)</span></td><td>0.21<br><span class="se">(0.30)</span></td></tr>
<tr><td>Purchasing power (€1,000)</td><td>-1.17*<br><span class="se">(0.39)</span></td><td>-0.60*<br><span class="se">(0.22)</span></td></tr>
<tr><td>Manufacturing, district (%)</td><td>0.95<br><span class="se">(0.59)</span></td><td>0.62<br><span class="se">(0.30)</span></td></tr>
<tr><td>Graduates, district (%)</td><td>-0.41<br><span class="se">(0.53)</span></td><td>-0.14<br><span class="se">(0.29)</span></td></tr>
<tr><td>Far-right vote share pre-2016 (%)</td><td>2.68***<br><span class="se">(0.50)</span></td><td>0.61*<br><span class="se">(0.21)</span></td></tr>
<tr class="gof"><td>N</td><td>217</td><td>217</td></tr>
<tr class="gof"><td>R²</td><td>0.87</td><td>0.82</td></tr>
</tbody></table>
</details>
<details>
<summary>CDU</summary>
<table>
<thead><tr><th></th><th>Vote share 2026 (%)</th><th>Change from 2021 (pp)</th></tr></thead>
<tbody>
<tr><td>Population change, 10 yrs (%)</td><td>0.05<br><span class="se">(0.19)</span></td><td>-0.17<br><span class="se">(0.26)</span></td></tr>
<tr><td>Residents aged 65+ (%)</td><td>0.82*<br><span class="se">(0.29)</span></td><td>-0.78**<br><span class="se">(0.25)</span></td></tr>
<tr><td>Share of women (%)</td><td>-0.19<br><span class="se">(0.13)</span></td><td>-0.26<br><span class="se">(0.20)</span></td></tr>
<tr><td>Foreign nationals (%)</td><td>0.08<br><span class="se">(0.15)</span></td><td>-0.10<br><span class="se">(0.27)</span></td></tr>
<tr><td>Municipality size (log.)</td><td>0.32<br><span class="se">(0.27)</span></td><td>-0.60<br><span class="se">(0.31)</span></td></tr>
<tr><td>Household size (persons)</td><td>0.64*<br><span class="se">(0.25)</span></td><td>-0.61<br><span class="se">(0.49)</span></td></tr>
<tr><td>Unemployment (%)</td><td>0.11<br><span class="se">(0.20)</span></td><td>0.70<br><span class="se">(0.39)</span></td></tr>
<tr><td>Purchasing power (€1,000)</td><td>0.25<br><span class="se">(0.21)</span></td><td>0.50<br><span class="se">(0.30)</span></td></tr>
<tr><td>Manufacturing, district (%)</td><td>0.59*<br><span class="se">(0.20)</span></td><td>-0.41<br><span class="se">(0.27)</span></td></tr>
<tr><td>Graduates, district (%)</td><td>0.14<br><span class="se">(0.13)</span></td><td>-0.09<br><span class="se">(0.22)</span></td></tr>
<tr><td>Far-right vote share pre-2016 (%)</td><td>-0.68**<br><span class="se">(0.22)</span></td><td>-0.54<br><span class="se">(0.30)</span></td></tr>
<tr class="gof"><td>N</td><td>217</td><td>217</td></tr>
<tr class="gof"><td>R²</td><td>0.62</td><td>0.43</td></tr>
</tbody></table>
</details>
<details>
<summary>SPD</summary>
<table>
<thead><tr><th></th><th>Vote share 2026 (%)</th><th>Change from 2021 (pp)</th></tr></thead>
<tbody>
<tr><td>Population change, 10 yrs (%)</td><td>-0.12<br><span class="se">(0.23)</span></td><td>-0.07<br><span class="se">(0.21)</span></td></tr>
<tr><td>Residents aged 65+ (%)</td><td>0.13<br><span class="se">(0.22)</span></td><td>-0.05<br><span class="se">(0.20)</span></td></tr>
<tr><td>Share of women (%)</td><td>0.10<br><span class="se">(0.14)</span></td><td>0.23<br><span class="se">(0.17)</span></td></tr>
<tr><td>Foreign nationals (%)</td><td>0.18<br><span class="se">(0.25)</span></td><td>-0.11<br><span class="se">(0.25)</span></td></tr>
<tr><td>Municipality size (log.)</td><td>0.42<br><span class="se">(0.29)</span></td><td>0.23<br><span class="se">(0.24)</span></td></tr>
<tr><td>Household size (persons)</td><td>-0.41<br><span class="se">(0.34)</span></td><td>-0.06<br><span class="se">(0.20)</span></td></tr>
<tr><td>Unemployment (%)</td><td>-0.74<br><span class="se">(0.35)</span></td><td>-0.02<br><span class="se">(0.25)</span></td></tr>
<tr><td>Purchasing power (€1,000)</td><td>0.32<br><span class="se">(0.17)</span></td><td>0.25<br><span class="se">(0.15)</span></td></tr>
<tr><td>Manufacturing, district (%)</td><td>-0.59*<br><span class="se">(0.23)</span></td><td>-0.26<br><span class="se">(0.26)</span></td></tr>
<tr><td>Graduates, district (%)</td><td>-0.20<br><span class="se">(0.24)</span></td><td>0.12<br><span class="se">(0.19)</span></td></tr>
<tr><td>Far-right vote share pre-2016 (%)</td><td>-1.06***<br><span class="se">(0.22)</span></td><td>-0.20<br><span class="se">(0.17)</span></td></tr>
<tr class="gof"><td>N</td><td>217</td><td>217</td></tr>
<tr class="gof"><td>R²</td><td>0.72</td><td>0.57</td></tr>
</tbody></table>
</details>
<details>
<summary>Greens</summary>
<table>
<thead><tr><th></th><th>Vote share 2026 (%)</th><th>Change from 2021 (pp)</th></tr></thead>
<tbody>
<tr><td>Population change, 10 yrs (%)</td><td>-0.35<br><span class="se">(0.33)</span></td><td>0.03<br><span class="se">(0.13)</span></td></tr>
<tr><td>Residents aged 65+ (%)</td><td>-0.84*<br><span class="se">(0.32)</span></td><td>-0.34*<br><span class="se">(0.15)</span></td></tr>
<tr><td>Share of women (%)</td><td>0.99*<br><span class="se">(0.39)</span></td><td>0.36*<br><span class="se">(0.16)</span></td></tr>
<tr><td>Foreign nationals (%)</td><td>0.17<br><span class="se">(0.32)</span></td><td>-0.07<br><span class="se">(0.10)</span></td></tr>
<tr><td>Municipality size (log.)</td><td>0.69**<br><span class="se">(0.22)</span></td><td>0.34**<br><span class="se">(0.11)</span></td></tr>
<tr><td>Household size (persons)</td><td>-0.38<br><span class="se">(0.28)</span></td><td>-0.13<br><span class="se">(0.16)</span></td></tr>
<tr><td>Unemployment (%)</td><td>-0.60*<br><span class="se">(0.22)</span></td><td>-0.23<br><span class="se">(0.12)</span></td></tr>
<tr><td>Purchasing power (€1,000)</td><td>0.28<br><span class="se">(0.18)</span></td><td>0.06<br><span class="se">(0.11)</span></td></tr>
<tr><td>Manufacturing, district (%)</td><td>-0.70**<br><span class="se">(0.22)</span></td><td>-0.27*<br><span class="se">(0.11)</span></td></tr>
<tr><td>Graduates, district (%)</td><td>0.53*<br><span class="se">(0.19)</span></td><td>0.09<br><span class="se">(0.09)</span></td></tr>
<tr><td>Far-right vote share pre-2016 (%)</td><td>-0.18<br><span class="se">(0.22)</span></td><td>-0.11<br><span class="se">(0.09)</span></td></tr>
<tr class="gof"><td>N</td><td>217</td><td>217</td></tr>
<tr class="gof"><td>R²</td><td>0.94</td><td>0.86</td></tr>
</tbody></table>
</details>
<details>
<summary>The Left</summary>
<table>
<thead><tr><th></th><th>Vote share 2026 (%)</th><th>Change from 2021 (pp)</th></tr></thead>
<tbody>
<tr><td>Population change, 10 yrs (%)</td><td>-0.18<br><span class="se">(0.15)</span></td><td>0.19<br><span class="se">(0.20)</span></td></tr>
<tr><td>Residents aged 65+ (%)</td><td>-0.05<br><span class="se">(0.12)</span></td><td>0.13<br><span class="se">(0.23)</span></td></tr>
<tr><td>Share of women (%)</td><td>0.03<br><span class="se">(0.07)</span></td><td>0.11<br><span class="se">(0.16)</span></td></tr>
<tr><td>Foreign nationals (%)</td><td>0.30*<br><span class="se">(0.12)</span></td><td>0.20<br><span class="se">(0.18)</span></td></tr>
<tr><td>Municipality size (log.)</td><td>0.37<br><span class="se">(0.21)</span></td><td>0.37*<br><span class="se">(0.17)</span></td></tr>
<tr><td>Household size (persons)</td><td>-0.10<br><span class="se">(0.21)</span></td><td>0.35<br><span class="se">(0.24)</span></td></tr>
<tr><td>Unemployment (%)</td><td>-0.07<br><span class="se">(0.15)</span></td><td>-0.33<br><span class="se">(0.26)</span></td></tr>
<tr><td>Purchasing power (€1,000)</td><td>-0.13<br><span class="se">(0.12)</span></td><td>-0.10<br><span class="se">(0.26)</span></td></tr>
<tr><td>Manufacturing, district (%)</td><td>-0.32<br><span class="se">(0.22)</span></td><td>-0.26<br><span class="se">(0.26)</span></td></tr>
<tr><td>Graduates, district (%)</td><td>-0.09<br><span class="se">(0.18)</span></td><td>-0.19<br><span class="se">(0.20)</span></td></tr>
<tr><td>Far-right vote share pre-2016 (%)</td><td>-0.47*<br><span class="se">(0.16)</span></td><td>-0.20<br><span class="se">(0.22)</span></td></tr>
<tr class="gof"><td>N</td><td>217</td><td>217</td></tr>
<tr class="gof"><td>R²</td><td>0.80</td><td>0.24</td></tr>
</tbody></table>
</details>
<details>
<summary>BSW</summary>
<table>
<thead><tr><th></th><th>Vote share 2026 (%)</th></tr></thead>
<tbody>
<tr><td>Population change, 10 yrs (%)</td><td>-0.30*<br><span class="se">(0.12)</span></td></tr>
<tr><td>Residents aged 65+ (%)</td><td>-0.09<br><span class="se">(0.11)</span></td></tr>
<tr><td>Share of women (%)</td><td>-0.03<br><span class="se">(0.09)</span></td></tr>
<tr><td>Foreign nationals (%)</td><td>-0.02<br><span class="se">(0.12)</span></td></tr>
<tr><td>Municipality size (log.)</td><td>0.10<br><span class="se">(0.15)</span></td></tr>
<tr><td>Household size (persons)</td><td>0.10<br><span class="se">(0.14)</span></td></tr>
<tr><td>Unemployment (%)</td><td>0.14<br><span class="se">(0.10)</span></td></tr>
<tr><td>Purchasing power (€1,000)</td><td>0.31<br><span class="se">(0.16)</span></td></tr>
<tr><td>Manufacturing, district (%)</td><td>-0.08<br><span class="se">(0.08)</span></td></tr>
<tr><td>Graduates, district (%)</td><td>-0.06<br><span class="se">(0.08)</span></td></tr>
<tr><td>Far-right vote share pre-2016 (%)</td><td>-0.21**<br><span class="se">(0.05)</span></td></tr>
<tr class="gof"><td>N</td><td>217</td></tr>
<tr class="gof"><td>R²</td><td>0.16</td></tr>
</tbody></table>
</details>
<details>
<summary>FDP</summary>
<table>
<thead><tr><th></th><th>Vote share 2026 (%)</th><th>Change from 2021 (pp)</th></tr></thead>
<tbody>
<tr><td>Population change, 10 yrs (%)</td><td>-0.13*<br><span class="se">(0.06)</span></td><td>0.01<br><span class="se">(0.14)</span></td></tr>
<tr><td>Residents aged 65+ (%)</td><td>-0.13*<br><span class="se">(0.06)</span></td><td>0.28<br><span class="se">(0.18)</span></td></tr>
<tr><td>Share of women (%)</td><td>0.03<br><span class="se">(0.07)</span></td><td>-0.25**<br><span class="se">(0.08)</span></td></tr>
<tr><td>Foreign nationals (%)</td><td>0.10<br><span class="se">(0.05)</span></td><td>0.18<br><span class="se">(0.13)</span></td></tr>
<tr><td>Municipality size (log.)</td><td>0.13<br><span class="se">(0.08)</span></td><td>-0.05<br><span class="se">(0.19)</span></td></tr>
<tr><td>Household size (persons)</td><td>0.17<br><span class="se">(0.13)</span></td><td>0.05<br><span class="se">(0.21)</span></td></tr>
<tr><td>Unemployment (%)</td><td>0.04<br><span class="se">(0.12)</span></td><td>0.03<br><span class="se">(0.16)</span></td></tr>
<tr><td>Purchasing power (€1,000)</td><td>0.20*<br><span class="se">(0.07)</span></td><td>-0.18<br><span class="se">(0.09)</span></td></tr>
<tr><td>Manufacturing, district (%)</td><td>-0.07<br><span class="se">(0.09)</span></td><td>0.06<br><span class="se">(0.20)</span></td></tr>
<tr><td>Graduates, district (%)</td><td>-0.02<br><span class="se">(0.09)</span></td><td>-0.01<br><span class="se">(0.15)</span></td></tr>
<tr><td>Far-right vote share pre-2016 (%)</td><td>0.07<br><span class="se">(0.06)</span></td><td>-0.19<br><span class="se">(0.12)</span></td></tr>
<tr class="gof"><td>N</td><td>217</td><td>217</td></tr>
<tr class="gof"><td>R²</td><td>0.23</td><td>0.21</td></tr>
</tbody></table>
</details>
<p class="ltw-appendix-note">OLS at municipality level, weighted by electorate, standard errors clustered at district level (in parentheses). All covariates z-standardised; dependent variable in per cent (level) or percentage points (change). * p&lt;0.05, ** p&lt;0.01, *** p&lt;0.001.</p>
</div>
