{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button class="nav-toggle" type="button" aria-label="Toggle menu" aria-expanded="false">
          <span class="navicon"></span>
        </button>
        <ul class="nav-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist">
            <a href="{{ base_path }}/">{{ site.title }}</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const toggle = document.querySelector(".greedy-nav .nav-toggle");
  const menu = document.querySelector(".greedy-nav .nav-links");

  if (toggle && menu) {
    toggle.addEventListener("click", () => {
      menu.classList.toggle("show");
      const expanded = toggle.getAttribute("aria-expanded") === "true";
      toggle.setAttribute("aria-expanded", !expanded);
    });
  }
});
</script>
